<div class="sidepanel container-fluid">
  <ul>
    <li><a href="/main/<%= id_user %>">Каталог автомобилей</a></li>
    <li><a href="/history/<%= id_user %>">Мои поездки</a></li>
    <li><a href="/">Выход из системы</a></li>
  </ul>
</div>
